registry=https://registry.npmmirror.com
@admin:registry=https://packages.aliyun.com/6385eb9c126bcb821717de64/npm/erp-admin/
//packages.aliyun.com/6385eb9c126bcb821717de64/npm/erp-admin/:_authToken=NjY0YWMzMzIwYTk3YzIxN2MwNTcwNzgyOjZ2aE0yL1JMWThwbU5WRE9XQU9HWHc9PQ==
